@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Corinthia:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  background-color: #23744b;
  padding: 20px 6%;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.header .first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
}

.header .email {
  cursor: pointer;
}

.header .email a {
  font-size: 18px;
  color: #fff;
}

.header .email i {
  font-size: 18px;
}

.header .time {
  cursor: pointer;
}

.header .time a {
  font-size: 18px;
  color: #fff;
}

.header .time i {
  font-size: 18px;
}

.header select {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.header .social {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header .social p {
  font-size: 18px;
}

.header .social i {
  font-size: 20px;
}

.navbar-container {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 25px 10%;
  background: transparent;
  z-index: 1000;
  transition: 0.3s ease, padding 0.3s ease;
}

.navbar-container.scrolled {
  background: #fff !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo h3 {
  font-size: 25px;
  font-weight: 400;
}

.logo span {
  font-weight: 1000;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-menu li {
  list-style: none;
}

.nav-menu li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  transition: color 0.3s ease;
}

.navbar-container.scrolled .nav-menu li a
.navbar-container.scrolled .nav-menu .active {
  color: #000 !important;
}

.nav-menu li a:hover,
.nav-menu .active {
  color: #23744b !important;
}

section {
  padding: 0 10%;
}

.about-home {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 65px;
  height: 70vh;
  z-index: 500;
}

.about-home img {
  width: 100%;
  object-fit: contain;
  object-position: top;
}

.home-about-content {
  margin-top: 350px;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  gap: 20px;
}

.about-img img {
  width: 500px;
}

.home-about-text .global {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #848688;
}

.home-about-text h1 {
  line-height: 1.2;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 300;
}

.home-about-text h1 span {
  color: #23744b;
  font-weight: 700;
}

.home-about-text p {
  font-size: 15px;
  line-height: 1.8;
  color: #848688;
  margin-bottom: 30px;
}

.home-about-text .sign {
  font-family: Corinthia;
  font-size: 36px;
  color: #848688;
}

.home-about-text .name {
  font-size: 15px;
}

.contact-container {
  min-width: 100%;
  background-color: #f8f6f7;
  padding: 80px 100px;
}

.contact-content {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 120px;
}

.contact-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e7e8e9;
  border-radius: 5px 5px 0 0;
  padding: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

form h3 {
  font-size: 20px;
  color: #23744b;
  margin-bottom: 30px;
}

form label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 18px;
}

form input[type="text"] {
  height: 40px;
  border: none;
  font-size: 17px;
  color: #000;
  margin-bottom: 20px;
  border-bottom: 1px solid #c0c1c2;
  padding: 10px 0;
  outline: none;
}

form select {
  height: 40px;
  border: none;
  font-size: 17px;
  color: #848688;
  margin-bottom: 20px;
  border-bottom: 1px solid #c0c1c2;
  padding: 10px 0;
  outline: none;
  cursor: pointer;
}

form select option {
  color: #848688;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  height: 30px;
  line-height: 30px;
}

form textarea {
  height: 120px;
  border: none;
  outline: none;
  font-size: 17px;
  color: #000;
  resize: none;
}

.form-btn {
  width: 500px;
  height: 60px;
  background: #23744b;
  border: none;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  border-radius: 0 0 5px 5px;
}

.contact-text {
  width: 100%;
}

.contact-text .why {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #848688;
}

.contact-text h1 {
  font-size: 50px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 50px;
}

.contact-text h1 span {
  font-weight: 600;
  color: #23744b;
}

.contact-text h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.contact-text p {
  font-size: 15px;
  color: #848688;
  margin-bottom: 30px;
  line-height: 2;
}

.team {
  width: 100%;
  padding: 100px 0;
}

.team-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
}

.team-text {
  margin-bottom: 30px;
}

.team-text h3 {
  font-size: 14px;
  font-weight: 400;
  color: #848688;
  margin-bottom: 20px;
}

.team-text h1 {
  font-size: 48px;
  font-weight: 300;
}

.team-text h1 span {
  font-weight: 700;
  color: #23744b;
}

.team-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.team-details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-details h3 {
  font-size: 20px;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}

.team-details p {
  font-size: 16px;
  margin-top: 10px;
}

.team-details div {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.team-details div img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.team-details:hover img {
  transform: scale(1.05);
}

.team-details:hover h3 {
  color: #23744b;
}

.team-details .team-card-img .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2c724f4b;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.team-details:hover .overlay {
  opacity: 1;
}

.testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
  overflow: hidden;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: left;
  width: 100%;
}

.testimonial-text h3 {
  font-size: 14px;
  font-weight: 400;
}

.testimonial-text h1 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 30px;
}

.testimonial-text h1 span {
  font-weight: 600;
  color: #23744b;
}

.swiper {
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide {
  position: relative;
  width: 500px;
  border: 1px solid #c0c1c2;
  padding: 30px 50px;
  cursor: grab;
}

.swipe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 5px solid transparent;
  transition: 0.3s ease-in-out;
}

.swipe-overlay:hover {
  border-top: 5px solid #23744b;
}

.slide-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.slide-head {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.slide-head h3 {
  font-size: 22px;
  color: #2c724f;
}

.slide-head i {
  font-size: 34px;
  color: #2c724f;
}

.slide-text p {
  font-size: 14px;
  color: #848688;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.testimonial-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial-bottom img {
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}

.testimonial-bottom img:hover {
  filter: grayscale(0) brightness(80%);
}

.faq {
  background-color: #f8f6f7;
  padding: 100px 10%;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: left;
  max-width: 700px;
}

.faq-container h3 {
  font-size: 18px;
  font-weight: 400;
  color: #848688;
}

.faq-item {
  border-bottom: 1px solid #f9fafc;
  padding: 20px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.05rem;
  color: #000;
  transition: color 0.3s ease;
}

.faq-question.active {
  color: #00784a; /* Green active color */
}

.faq-icon {
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.faq-question .question {
  font-size: 15px;
}

.faq-question.active .faq-icon {
  transform: rotate(180deg);
}

.faq-answer {
  font-size: 14px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease, opacity 0.3s ease;
  opacity: 0;
  color: #848688;
  line-height: 1.6;
  padding-right: 20px;
}

.faq-answer.show {
  max-height: 500px; /* enough to fit text */
  opacity: 1;
  margin-top: 10px;
}

.footer {
  height: 400px;
}

.footer-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 100px 0;
}

.footer-contact {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-contact .contact-head {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.footer-contact .contact-head img {
  width: 25px;
}

.footer-contact .contact-head h3 {
  font-size: 24px;
  font-weight: 400;
}

.footer-contact .contact-head h3 span {
  font-weight: 800;
}

.footer-contact .contact-para p {
  font-size: 12px;
  font-weight: 400;
  color: #848688;
  margin-bottom: 10px;
}

.footer-contact .contact-para a {
  color: #000;
  font-size: 14px;
  transition: .3s ease;
}

.footer-contact .contact-para a:hover {
  color: blue;
}

.footer-content .footer-links {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 30px;
}

.footer-links h3 {
  font-size: 18px;
}

.footer-links .links {
  display: flex;
  flex-direction: column;
}

.footer-links .links a {
  font-size: 14px;
  color: #848688;
  margin-bottom: 15px;
}

.footer-content .newsletter {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.newsletter h3 {
  font-size: 18px;
}

.newsletter p {
  font-size: 14px;
  color: #848688;
}

.email-box {
  display: flex;
  align-items: center;
  max-width: 400px;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.email-box input {
  flex: 1;
  padding: 20px 12px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.email-box button {
  background: transparent;
  border: none;
  padding: 0 12px;
  cursor: pointer;
  font-size: 18px;
  color: #000;
  transition: color 0.3s;
}

.email-box button:hover {
  color: #007bff;
}

.footer .copyright {
  font-size: 14px;
  color: #848688;
}