@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Corinthia:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  background-color: #23744b;
  padding: 20px 6%;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  gap: 10px;
}

.header .first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
}

.header .email {
  cursor: pointer;
}

.header .email a {
  font-size: 18px;
  color: #fff;
}

.header .email i {
  font-size: 18px;
}

.header .time {
  cursor: pointer;
}

.header .time a {
  font-size: 18px;
  color: #fff;
}

.header .time i {
  font-size: 18px;
}

.header select {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.header .social {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header .social p {
  font-size: 18px;
}

.header .social i {
  font-size: 20px;
}

.navbar-coantainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  padding: 25px 10% 25px;
  top: 0;
  background: #e8ecef;
  z-index: 1000;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .logo img {
  width: 40px;
  height: 40px;
}

.navbar .logo h3 {
  font-size: 25px;
  font-weight: 400;
}

.navbar .logo span {
  font-weight: 1000;
}

.navbar .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.nav-menu li {
  list-style: none;
  padding: 5px 10px;
}

.nav-menu li a {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  transition: 0.3s ease-in-out;
}

.nav-menu li a:hover,
.nav-menu .active {
  color: #23744b;
}

.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  height: 2.172rem;
  width: 2.172rem;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  z-index: 200;
  transition: all 0.3s ease-in-out;
}

.menu-icon div {
  display: block;
  background: #23744b;
  height: 2px;
  width: 23px;
  transition: 0.3s ease;
}

.move .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.move .line2 {
  opacity: 0;
}
.move .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

section {
  padding: 0 10%;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/home-bg.jpg") center/cover no-repeat;
  background-position: middle;
  min-height: 650px;
}

.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.home-text {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding: 10px 0 0 0;
  animation: slideDown 0.8s linear;
}

.home-text h3 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #848688;
}

.home-text h1 {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 30px;
}

.home-text span {
  font-weight: 600;
  color: #23744b;
}

.home-text p {
  max-width: 600px;
  font-size: 18px;
  font-weight: 600px;
  line-height: 1.6;
  margin-bottom: 40px;
  color: #848688;
}

.home-btn button {
  width: 220px;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  border-radius: 3px;
  border: none;
  color: #fff;
  background-color: #23744b;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}

.home-about-content {
  display: flex;
  padding: 100px 0;
  gap: 20px;
  border-bottom: 1px solid #848688;
}

.about-img img {
  width: 500px;
}

.home-about-text .global {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #848688;
}

.home-about-text h1 {
  line-height: 1.2;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 300;
}

.home-about-text h1 span {
  color: #23744b;
  font-weight: 700;
}

.home-about-text p {
  font-size: 15px;
  line-height: 1.8;
  color: #848688;
  margin-bottom: 30px;
}

.home-about-text .sign {
  font-family: Corinthia;
  font-size: 36px;
  color: #848688;
}

.home-about-text .name {
  font-size: 15px;
}

.home-services-content {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.home-services-text h3 {
  font-size: 14px;
  font-weight: 400;
  color: #848688;
  margin-bottom: 20px;
}

.home-services-text h1 {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 50px;
}

.home-services-text h1 span {
  color: #23744b;
  font-weight: 600;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.card {
  height: 350px;
  border: 1px solid #e7e8e9;
}

.card-content {
  height: 100%;
  padding: 50px 30px;
  border-top: 5px solid transparent;
  transition: all 0.5s ease-in-out;
}

.card-content:hover {
  background-color: #f3f5f4;
  border-top: 5px solid #23744b;
}

.card i {
  display: inline-block;
  font-size: 60px;
  color: #23744b;
  margin-bottom: 30px;
  transition: transform 0.5s ease-in-out;
}

.card:hover i {
  /* transform: rotateY(180deg) scale(1.2); */
  transform: rotateZ(180deg) scale(-1.2);
}

.card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.card p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.card a {
  color: #000;
}

.testimonial-container {
  padding: 100px 10%;
  gap: 30px;
}

.testimonial-head {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: left;
  margin-bottom: 50px;
}

.testimonial-head p {
  font-size: 14px;
  color: #848688;
}

.testimonial-head h2 {
  font-size: 40px;
  font-weight: 300;
}

.testimonial-head span {
  font-weight: 600;
  color: #23744b;
  letter-spacing: 2px;
}

.swiper {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide {
  position: relative;
  height: 100%;
  max-width: 515px;
  border: 1px solid #e7e8e9;
  padding: 20px;
  cursor: grab;
}

.swiper-slide .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid transparent;
  transition: 0.3s ease;
}

.swiper-slide .overlay:hover {
  border-top: 5px solid #23744b;
}

.swiper-slide i {
  position: absolute;
  right: 20px;
  font-size: 35px;
  color: #23744b;
}

.swiper-slide h3 {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.swiper-slide h3 span {
  color: #848688;
  font-size: 12px;
  font-weight: 300;
}

.swiper-slide p {
  font-size: 14px;
  color: #848688;
  line-height: 1.5;
}

.testimonial-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.testimonial-bottom h3 {
  font-size: 24px;
  font-weight: 400;
  color: #23744b;
}

.testimonial-bottom .swiper {
  height: 100px;
}

.testimonial-bottom .swiper-slide {
  max-width: 300px;
  cursor: grab;
  border: none;
}

.testimonial-bottom .swiper-slide img {
  filter: grayscale(100%);
  transition: 0.5s ease;
}

.testimonial-bottom .swiper-slide img:hover {
  filter: grayscale(0);
}

.contact-container {
  min-width: 100%;
  background-color: #f8f6f7;
  padding: 80px 10%;
}

.contact-content {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 120px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e7e8e9;
  border-radius: 5px 5px 0 0;
  padding: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form h3 {
  font-size: 20px;
  color: #23744b;
  margin-bottom: 30px;
}

form label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 18px;
}

form input[type="text"] {
  height: 40px;
  border: none;
  font-size: 17px;
  color: #000;
  margin-bottom: 20px;
  border-bottom: 1px solid #c0c1c2;
  padding: 10px 0;
  outline: none;
}

form textarea {
  height: 120px;
  border: none;
  outline: none;
  font-size: 17px;
  color: #000;
  resize: none;
}

.form-btn {
  width: 500px;
  height: 60px;
  background: #23744b;
  border: none;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  border-radius: 0 0 5px 5px;
}

.contact-text {
  width: 100%;
}

.contact-text .why {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #848688;
}

.contact-text h1 {
  font-size: 50px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 50px;
}

.contact-text h1 span {
  font-weight: 600;
  color: #23744b;
}

.contact-text h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.contact-text p {
  font-size: 15px;
  color: #848688;
  margin-bottom: 30px;
  line-height: 2;
}

.team {
  width: 100%;
  padding: 100px 0;
}

.team-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
}

.team-text {
  margin-bottom: 30px;
}

.team-text h3 {
  font-size: 14px;
  font-weight: 400;
  color: #848688;
  margin-bottom: 20px;
}

.team-text h1 {
  font-size: 48px;
  font-weight: 300;
}

.team-text h1 span {
  font-weight: 700;
  color: #23744b;
}

.team-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.team-details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-details h3 {
  font-size: 20px;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}

.team-details p {
  font-size: 16px;
  margin-top: 10px;
}

.team-details div {
  border-radius: 5px;
  overflow: hidden;
}

.team-details div img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.team-details .team-card-img {
  position: relative;
}

.team-details .team-card-img .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2c724f4b;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.team-details:hover .overlay {
  opacity: 1;
}

.team-details:hover img {
  transform: scale(1.05);
}

.team-details:hover h3 {
  color: #23744b;
}

.blog {
  background-color: #f8f6f7;
  padding: 100px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-text {
  text-align: center;
  margin-bottom: 30px;
}

.blog-text h3 {
  font-size: 14px;
  font-weight: 400;
  color: #848688;
  margin-bottom: 20px;
}

.blog-text h1 {
  font-size: 48px;
  font-weight: 300;
}

.blog-text h1 span {
  font-weight: 700;
  color: #23744b;
}

.news-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-truck {
  display: flex;
  align-items: center;
  justify-content: center;
}

.truck-img {
  width: 380px;
  height: 380px;
  overflow: hidden;
}

.truck-img img {
  display: block;
  width: 100%;
}

.truck-text {
  width: 380px;
  height: 380px;
  background-color: #fff;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 50px;
  transition: all 0.5s ease;
}

.truck-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #2c724f;
  margin-bottom: 20px;
}

.truck-text h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}

.truck-text p {
  font-size: 14px;
  color: #848688;
}

.truck-text p span {
  color: #000;
}

.news-truck:hover .truck-text {
  background-color: #23744b;
}

.news-truck:hover .truck-text h5,
.news-truck:hover .truck-text h3,
.news-truck:hover .truck-text p,
.news-truck:hover .truck-text p span {
  color: #fff;
}

.news-secret:hover .truck-text {
  background-color: #23744b;
  color: #fff;
}

.news-secret:hover .truck-text h5,
.news-secret:hover .truck-text h3,
.news-secret:hover .truck-text p,
.news-secret:hover .truck-text p span {
  color: #fff;
}

.footer {
  height: 400px;
}

.footer-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 100px 0;
  gap: 20px;
}

.footer-contact {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-contact .contact-head {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.footer-contact .contact-head img {
  width: 25px;
}

.footer-contact .contact-head h3 {
  font-size: 24px;
  font-weight: 400;
}

.footer-contact .contact-head h3 span {
  font-weight: 800;
}

.footer-contact .contact-para p {
  font-size: 12px;
  font-weight: 400;
  color: #848688;
  margin-bottom: 10px;
}

.footer-contact .contact-para a {
  color: #000;
  font-size: 14px;
  transition: 0.3s ease;
}

.footer-contact .contact-para a:hover {
  color: blue;
}

.footer-content .footer-links {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 30px;
}

.footer-links h3 {
  font-size: 18px;
}

.footer-links .links {
  display: flex;
  flex-direction: column;
}

.footer-links .links a {
  font-size: 14px;
  color: #848688;
  margin-bottom: 15px;
}

.footer-content .newsletter {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.newsletter h3 {
  font-size: 18px;
}

.newsletter p {
  width: 300px;
  font-size: 14px;
  color: #848688;
}

.email-box {
  display: flex;
  align-items: center;
  max-width: 400px;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.email-box input {
  flex: 1;
  padding: 20px 12px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.email-box button {
  background: transparent;
  border: none;
  padding: 0 12px;
  cursor: pointer;
  font-size: 18px;
  color: #000;
  transition: color 0.3s;
}

.email-box button:hover {
  color: #007bff;
}

.footer .copyright {
  font-size: 14px;
  color: #848688;
}

/* Responsive Styling */
@media (max-width: 1024px) {
  .navbar-coantainer {
    padding: 25px 5%;
  }

  .navbar .logo h3 {
    font-size: 20px;
  }

  .navbar .logo span {
    font-weight: 800;
  }

  .nav-menu li {
    padding: 5px;
  }

  .nav-menu li a {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    transition: 0.3s ease-in-out;
  }

  .home-text h1 {
    color: #909497;
  }

  .home-about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
  }

  .about-img img {
    width: 600px;
  }

  .home-about-text .global {
    text-align: center;
  }

  .home-about-text h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
  }

  .home-about-text h1 span {
    color: #23744b;
    font-weight: 700;
  }

  .contact-content {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
  }

  .form-btn {
    width: 100%;
  }

  .contact-text h4 {
    text-align: center;
  }

  .contact-text h1 {
    text-align: center;
    font-size: 35px;
  }

  .truck-img {
    width: 300px;
    height: 300px;
    overflow: hidden;
  }

  .truck-img img {
    display: block;
    width: 100%;
  }

  .truck-text {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }

  .menu-icon {
    display: flex;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    transition: 0.5s;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.4);
  }

  .menu-active {
    right: 0;
  }

  .nav-menu li a {
    color: #23744b;
  }

  .home-text {
    justify-content: center;
    text-align: center;
  }

  .home-text h1 {
    text-align: center;
    font-size: 50px;
  }

  .home-text p {
    color: #909497;
  }

  .home-text .home-btn {
    display: flex;
    justify-content: center;
  }

  .news-container {
    flex-direction: column;
  }

  .news-secret {
    display: flex;
  }

  .truck-text h3 {
    font-size: 18px;
  }
}

@media (max-width: 720px) {
  .first {
    flex-direction: column;
    gap: 10px;
  }

  .team-card {
    gap: 10px;
  }
}

@media (max-width: 425px) {
  body {
    width: 100%;
  }

  .first {
    gap: 10px;
    flex-direction: column;
  }

  .about-img img {
    width: 380px;
  }

  .image {
    width: 200px;
  }
  .news-truck {
    flex-direction: column;
  }

  .bank .truck-img {
    order: 2;
  }

  .news-secret {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-links {
    align-content: center;
    justify-content: left;
  }

  .newsletter {
    width: 100%;
  }
}
